*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;  
  
}
.form-container{
    background-color: rgb(210, 196, 199);
    padding: 40px;
    text-align: left;
    border-radius: 10px;
    /* flex-grow: 1; */
}
h1{
    margin-bottom: 30px;
    color: rgb(50, 48, 48);
    text-align: center;
}
input{
   padding: 7px;
   width: 100%;
   outline: 0;
   border: 1px solid #fefefe;
   border-radius: 3px;
}
#submit-btn{
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(238, 82, 108);
    color: white;
    width: 100%;  
    margin-top: 10px;
}
label{
    color: rgb(57, 55, 55);
}
.text{
    color: red;
    font-size: 14px;
}
.form-group{
    margin-bottom: 10px;
}