* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
:root {
  --text-color: #4d5e80;
  --text-p-color: #adb8cc;
  --text-o-color: #fff;
  --text-m-color: #adb8cc;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
}
.header {
  height: 100px;
  width: 100%;
  border: solid #edeff2;
  padding:20px;
}
.left-menu {
  display: flex;
  gap:20px;
  align-items: center;
}
.list {
  display: flex;
  align-items: center;
  gap:20px;
}

.link-list {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #7d8fb3;
}
.link-list .link-a {
  text-decoration: none;
  color: #7d8fb3;
}
.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.admin-icon {
    display: flex;
    align-items: center;
  height: 50px;
  width: 50px;
}
.menu-text-2 {
  display: inline-block;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #6b7a99;
}
.notification-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cancle-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bank-account {
  display: flex;
  align-items: center;
}
.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin-left: 20px;
}
.account-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}

.account-heading {
  padding-top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}
.investment {
  display: flex;
  align-items: center;
}
.investment-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.investment-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.investment-heading {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}
.cashback {
  display: flex;
  align-items: center;
}
.cashback-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--text-o-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cashback-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.cashback-heading {
  color: var(--text-p-color);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.cash {
  display: flex;
  align-items: center;
}
.cash-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--text-o-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cash-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.cash-heading {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}
.container-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.sidebar {
  padding: 30px;
  float: right;
  height: 1100px;
  width: 330px;
  border: solid #edeff2;
  border-top: none;
}
.s-card {
  height: 200px;
  width: 270px;
  background-color: var(--text-o-color);
  border-radius: 10px;
  
}
.s-card-1{
    padding: 20px;
    border-bottom: solid grey;
}
.heading-sm-card {
  font-weight: 700;
  font-size: 12px;
  color: #6b7a99;
  font-family: sans-serif;
}
.content-1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number {
  font-weight: 700;
  font-size: 24px;
  color: #4d5e80;
  font-family: sans-serif;
}
.s-card-2{
    padding: 20px;
}
.live-icon {
  height: 30px;
  width: 40px;
  background-color: rgba(136, 51, 255, 0.1);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-visitors {
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  color: #6b7a99;
}
.text-view {
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  color: #6b7a99;
}
.content-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
 
}
.card {
  padding: 40px;
  height: 540px;
  width: 590px;
  background-color: #1a2233;
  border-radius: 10px;
  margin: 30px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-heading {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-o-color);
}
.btn-next {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #26334d;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-1 {
  display: flex;
  align-items: center;
}
.icon {
  height: 60px;
  width: 60px;
  border-radius: 60%;
  background-color: var(--text-o-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: var(--text-o-color);
  margin-left: 30px;
}
.container-1 {
  margin-top: 30px;
}
.price {
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
  color: var(--text-o-color);
}
.heading {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  color: #6b7a99;
}
.price {
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
  color: var(--text-o-color);
}
.heading {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  color: #6b7a99;
}
.container-2 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.container-3 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.text-1 {
  flex-basis: 50%;
}
.container-4 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.line {
  margin-left: 20px;
}
.transaction-card {
  padding: 40px;
  height: 540px;
  width: 590px;
  background-color: var(--text-o-color);
  border-radius: 10px;
  margin: 30px;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  font-family: sans-serif;
  color: var(--text-color);
  text-align: center;
}
.transaction{
    display: flex;
}
.google-play {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.transaction-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--text-o-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  font-family: sans-serif;
  margin-top: 10px;
}
.transaction-date {
  font-family: sans-serif;
  color: var(--text-m-color);
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
}
.stocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.vpn-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.vpn-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.service-rental {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.main-card {
  display: flex;
  align-items: center;
}
.card-main{
    margin-top: 30px;
}
.text-2 {
  margin-left: 25px;
}
.price {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--text-m-color);
}
.purple-card {
  height: 250px;
  width: 590px;
  background-color: #8833ff;
  border-radius: 5%;
}
.p-card{
    display: flex;
    justify-content: space-between;
}
.purple-text {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin: 30px;
}
.purple-price {
  font-weight: 700;
  font-size: 24px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin: 30px;
}
.white-card {
  height: 145px;
  width: 590px;
  background-color:var(--text-o-color);
  margin: 30px;
  margin-left: 55px;
}
.purple-white-card {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.white-text{
    font-weight: 700;
font-size: 14px;
color: var(--text-color);
font-family: sans-serif;
margin: 30px;
}
.container-services{
    display: flex;
    align-items: center;
    margin-top:  30px; ;
    gap: 30px;
    margin-left: 30px;
}
.services-icon{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:#F5F6F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services{
  height: 150px;
  width: 160px;
  background-color: var(--text-o-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.services-text{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
}
.apple-card{
    height: 150px;
  width: 250px;
  background-color: #ff6633;
  border-radius: 10px;
  /* margin-left: 100px;
  margin-top: 70px; */
  
}
.apple-icon{
    margin-top: 50px;
    margin-left: 50px;
}
.heading-apple{
    font-weight: 700;
font-size: 18px;
font-family: sans-serif;
color: var(--text-o-color);
margin-top: 25px;
margin-left: 40px;
}
.heading-price{
    font-weight: 400;
font-size: 36px;
font-family: sans-serif;
color: var(--text-o-color);
margin-top: 35px;
margin-right: 80px;
}
.blue-card{
    height: 200px;
  width: 250px;
  background-color:#33BFFF;
  border-radius: 10px;
}
.two-cards{
    display: flex;
}
.battery-icon{
margin-top: 80px;
margin-left: 130px;
}
.battery{
color: var(--text-o-color);
font-weight: 500;
font-size: 30px;
font-family: sans-serif;
}