*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100%;
    width: 100%;
}
body{
    background-color:  #F7F8FA;
}
:root{
    --white-color: #fff;
    --grey-blue-50-color:#4D5E80;
    --grey-blue-70-color:#7D8FB3;
    --grey-blue-60-color:#6B7A99;
    --grey-blue-80-color:#ADB8CC;
    --grey-blue-30-color:#26334D;
    --grey-blue-20-color:#1A2233;
    --font-weight: 700;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-30: 30px;
    --font-size-36: 36px;
    --font-family: sans-serif;
}
.wrapper{
    height: 100%;
    overflow: hidden;
}
.navbar{
    /* width: 100%;
    height: 90px; */
    border-bottom: solid #EDEFF2;
    justify-content: space-between;
    padding: 20px 25px;
}
/* helper classes*/
.d-flex{
display: flex;
}
.f-direction{
    flex-direction: column;
}
.a-items{
    align-items: center;
}
.j-content{
    justify-content: center;
}
.m-left-30{
    margin-left: 30px;
}
.m-left-20{
    margin-left: 20px;
}
.m-left-10{
    margin-left: 10px;
}
.m-left-25{
    margin-left: 25px;
}
/*hepler classes*/
.link-list .link-a{
    text-decoration: none;
    color: var(--grey-blue-70-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size-13);
    font-family: var(--font-family);
    padding: 15px;
}
.hamburger-icon{
height: 50px;
width: 50px;
border-radius: 100%;
background-color: var(--white-color);
}
.menu-text{
    margin-left: 35px;
    font-family: var(--font-family);
    color: var(--grey-blue-50-color);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight);
    margin-right: 40px;
}
.list{
    /* gap: 30px; */
    /* margin-left: 54px; */
    /* padding: 30px; */
}
.menu-text-2{
    margin-left: 20px;
    color: var(--grey-blue-60-color);
    font-size: var(--font-size-13);
    font-weight: var(--font-weight);
    font-family: var(--font-family); 
}
.notification-icon{
    height: 50px;
width: 50px;
border-radius: 100%;
background-color: var(--white-color);
margin-left: 30px;
}
.cancel-icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: var(--white-color);
    margin-left: 10px;
}
.container-one-icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--white-color);
}
.container-one-price{
    font-size: var(--font-size-24);
    color: var(--grey-blue-50-color);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
}
.container-one-heading{
    font-size:var(--font-size-12);
    color: var(--grey-blue-80-color);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
}
.container-one-text{
    margin-left: 25px;
}
.container-one{
    justify-content: space-between;
    padding: 30px;
}
.card{
    background-color: #1A2233;
}
.card-heading{
    font-size: var(--font-size-24);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    color: var(--white-color);
}
.btn-next{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--grey-blue-30-color);
    cursor: pointer;
    border: none;
}
.card-head{
    justify-content: space-between;
}
.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--white-color); 
}
.price-1{
    font-size:var(--font-size-36);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--white-color);
    margin-left: 36px;
}
.price{
    font-size: var(--font-size-30);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    color: var(--white-color);
}
.heading{
    font-size: var(--font-size-14);
    color: var(--grey-blue-60-color);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
}
.container-2{
    justify-content: space-between;
    margin-top: 50px;
}
.container-3{
    justify-content: space-between;
    margin-top: 50px;
}
.container-4{
    margin-top: 50px;
}