* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
:root {
  --text-color: #4d5e80;
  --text-p-color: #adb8cc;
  --text-o-color: #fff;
  --text-m-color: #adb8cc;
}
.header {
  height: 100px;
  width: 100%;
  border-bottom: solid #edeff2;
}
.menu-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 25px;
}
.menu-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color);
  margin-top: 30px;
}
.left-menu {
  display: flex;
  gap: 35px;
  align-items: center;
}
.list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}
.link-list {
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #7d8fb3;
}
.link-list .link-a {
  text-decoration: none;
  color: #7d8fb3;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.admin-icon {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
}
.admin-img {
  margin-top: 35px;
  margin-right: 20px;
}
.menu-text-2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #6b7a99;
  margin-top: 30px;
  margin-right: 30px;
}
.notification-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
  margin-top: 20px;
}
.cancle-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 25px;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.container-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 30px;
}
.container-one-main {
  display: flex;
  align-items: center;
  margin-right: 90px;
}
.container-one-icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-one-text {
  margin-left: 20px;
}
.container-one-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.container-one-heading {
  padding-top: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}
.sidebar {
  padding: 30px;
  height: 1100px;
  width: 330px;
  border-left: solid #edeff2;
}
.s-card {
  height: 190px;
  width: 270px;
  background-color: var(--text-o-color);
  border-radius: 10px;
}
.s-card-1 {
  padding: 20px;
  border-bottom: solid #80808021;
}
.heading-sm-card {
  font-weight: 700;
  font-size: 12px;
  color: #6b7a99;
  font-family: sans-serif;
}
.content-1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.number {
  font-weight: 700;
  font-size: 24px;
  color: #4d5e80;
  font-family: sans-serif;
}
.s-card-2 {
  padding: 20px;
}
.live-icon {
  height: 30px;
  width: 40px;
  background-color: rgba(136, 51, 255, 0.1);
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-visitors {
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  color: #6b7a99;
}
.text-view {
  font-weight: 700;
  font-size: 12px;
  font-family: sans-serif;
  color: #6b7a99;
}
.content-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.container-two {
  display: flex;
  align-items: center;
}
.card {
  padding: 40px;
  height: 540px;
  width: 590px;
  background-color: #1a2233;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-heading {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-o-color);
}
.btn-next {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #26334d;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.container-1 {
  display: flex;
  align-items: center;
}
.icon {
  height: 60px;
  width: 60px;
  border-radius: 60%;
  background-color: var(--text-o-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-1 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: var(--text-o-color);
  margin-left: 30px;
}
.container-1 {
  margin-top: 30px;
}
.price {
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
  color: var(--text-o-color);
}
.heading {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  color: #6b7a99;
}
.price {
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
  color: var(--text-o-color);
}
.heading {
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
  color: #6b7a99;
}
.container-2 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.container-3 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.text-1 {
  flex-basis: 50%;
}
.container-4 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.line {
  margin-left: 20px;
}
.transaction-card {
  padding: 40px;
  height: 540px;
  width: 590px;
  background-color: var(--text-o-color);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 30px;
}
h2 {
  font-weight: 700;
  font-size: 24px;
  font-family: sans-serif;
  color: var(--text-color);
  text-align: center;
}
.transaction {
  display: flex;
}
.transaction-icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.transaction-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  font-family: sans-serif;
}
.transaction-date {
  font-family: sans-serif;
  color: var(--text-m-color);
  font-weight: 700;
  font-size: 12px;
  margin-top: 10px;
}
.transaction-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-main {
  margin-top: 30px;
}
.text-2 {
  margin-left: 25px;
  margin-top: 25px;
}
.price {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--text-m-color);
}
.purple-card {
  height: 250px;
  width: 590px;
  background-color: #8833ff;
  border-radius: 5%;
  margin-left: 30px;
  margin-top: 30px;
}
.p-card {
  display: flex;
  justify-content: space-between;
}
.purple-text {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin: 30px;
}
.purple-price {
  font-weight: 700;
  font-size: 24px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin: 30px;
}
.white-card {
  height: 145px;
  width: 590px;
  background-color: var(--text-o-color);
  margin-left: 30px;
  margin-top: 30px;
}
.w-a-b-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purple-white-card {
  display: flex;
  align-items: center;
}
.white-text {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);
  font-family: sans-serif;
  margin: 30px;
}
.container-services {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  margin-left: 30px;
}
.services-icon {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #f5f6f7;
  box-shadow: 0px 2px 5px rgba(10, 13, 19, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
.services {
  height: 145px;
  width: 170px;
  background-color: var(--text-o-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-text {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-color);
  text-align: center;
  margin-top: 20px;
}
.apple-card {
  height: 255px;
  width: 280px;
  background-color: #ff6633;
  border-radius: 10px;
}
.apple-icon {
  margin-top: 45px;
  margin-left: 45px;
}
.heading-apple {
  font-weight: 700;
  font-size: 18px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin-top: 25px;
  margin-left: 40px;
}
.heading-price {
  font-weight: 400;
  font-size: 36px;
  font-family: sans-serif;
  color: var(--text-o-color);
  margin-top: 35px;
  margin-right: 110px;
}
.blue-card {
  height: 255px;
  width: 280px;
  background-color: #33bfff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.two-cards {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
  margin-left: 30px;
}
.battery-icon {
  margin-bottom: 20px;
}
.battery {
  color: var(--text-o-color);
  font-weight: 500;
  font-size: 30px;
  font-family: sans-serif;
}
