* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --text-color: #4d5e80;
  --text-p-color: #adb8cc;
}
body {
  background-color: #f5f5f5;
}

.icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.img {
  padding: 15px;
}
.text {
  display: inline-block;
  margin-left: 20px;
}
.heading {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}
.container {
  padding: 10px;
  margin-left: 100px;
  margin-top: 50px;
}
.price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.card {
  height: 250px;
  width: 250px;
  background-color: #ff6633;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 50px;
}
.apple-icon {
  padding: 45px;
}
.heading-apple {
  padding-left: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: white;
}
.heading-price {
  padding-left: 30px;
  padding-top: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: white;
}
.investment-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.investment-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.investment-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
  padding-top: 10px;
}

.investment {
  margin: 200px;
  display: inline-block;
}
.cashback {
  display: inline-block;
  margin: 200px;
}
.cashback-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.cashback-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}
.cashback-heading {
  padding-top: 10px;
  color: var(--text-p-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.cash {
  display: inline-block;
  margin: 200px;
}
.cash-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.cash-price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: var(--text-color);
}

.cash-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-p-color);
}

.google-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  padding: 45px;
}
.google {
  height: 150px;
  width: 160px;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 50px;
  display: inline-block;
  margin-left: 200px;
}
.google-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-color);
  text-align: center;
  padding: 15px;
}
.vpn {
  height: 150px;
  width: 160px;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 50px;
  display: inline-block;
  margin-left: 250px;
}
.vpn-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  padding: 45px;
}
.vpn-text {
  color: var(--text-color);
  text-align: center;
  padding: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
}
.service {
  height: 150px;
  width: 160px;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 50px;
  display: inline-block;
  margin-left: 400px;
}
.service-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  padding: 45px;
}
.service-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--text-color);
  text-align: center;
  padding: 15px;
}
